In [5]:
import pandas as pd
from nltk.corpus import stopwords
import re

In [17]:
df_train = pd.read_csv("../input/train.csv")
df_valid = pd.read_csv("../input/valid.csv")

In [18]:
def clean_title_text(df):
    # Create list of english stopwords from nltk library
    stop_words = set(stopwords.words('english'))
    title_text = []
    for ind in range(df.shape[0]):
        text = df.Title.values[ind].lower()
        text = text.replace('\n', '')
        text = re.sub(r'[^A-Za-z0-9]', ' ', text)
        text = ' '.join([word for word in text.split() if not word in stop_words])

        title_text.append(text)

    return title_text

In [20]:
df_train['title_text'] = clean_title_text(df_train)

In [21]:
df_train.isnull().sum()

Id              0
Title           0
Body            0
Tags            0
CreationDate    0
Y               0
title_text      0
dtype: int64

In [22]:
df1 = pd.DataFrame({"a":[21,22,23],"b":[24,25,26]})
df2 = pd.DataFrame({"a":[11,12,13],"b":[14,15,16]})

In [23]:
df = pd.concat([df1, df2], axis=0, ignore_index=True)

In [24]:
df

    a   b
0  21  24
1  22  25
2  23  26
3  11  14
4  12  15
5  13  16